@model IEnumerable<MVCApp2.Models.Employee>
@using MVCApp2.Models;
@{
    ViewBag.Title = "EmployeeList";
}

<h2>EmployeeList</h2>
<div style="font-family:Arial;">
    <ul>
        @foreach (Employee emp in @Model)
        {
            <li>@Html.ActionLink(emp.EmpName, "EmpDetails", new { @id = emp.EmpId })</li>
        }

    </ul>
</div>
@Html.ActionLink("Back to DepartmentList", "DeptList", "Department")



